
/*  -- Bitter --  */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
/*  -- Source Serif 4 --  */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');



body {
    background: #E3E3E3;
    font-family: "Bitter", "Source Serif 4", "Cormorant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3 {
    font-weight: 700;
    color: #353749;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}


.button {
    width: 225px;
    height: 28px;    
    padding: 8px 0 0 0;
    margin: 20px auto;    
    border: 1px solid #C8C8C8;
    border-radius: 8px;
    background-color: #F2F1F3;
    color: #434874;
    font-size: 20px;
    text-align: center;
}

/* ---- MAIN PAGE ----*/

.main {

    width: 1024px;
    min-height: 1000px;
    margin: 0 auto;
    background: #FFF;

    border-left: 1px solid #353749;
    border-right: 1px solid #353749;
    box-shadow: 0px 0px 8px 5px rgba(192, 201, 206, 0.6);
    -webkit-box-shadow: 0px 0px 8px 5px rgba(192, 201, 206, 0.6);
    -moz-box-shadow: 0px 0px 8px 5px rgba(192, 201, 206, 0.6);
}


/* ---- HEADER ----*/

header {
    width: 1024px;
    height: 580px;
    background: #AEB4B2;
    background-image: url("../images/bg-footer-1024.jpg");
    background-position: 0%;
    background-repeat: no-repeat;
}

.header-top {
    width: 1024px;
    height: 60px;
    background-color: rgb(43 45 66);
    background-color: rgba(43 45 66 / 90%);
    border-radius: 0px 0px 15px 15px;
    color:#FFF;
    font-size: 16px;
    
}

.logo {
    float: left;
    font-size: 26px;
    font-weight: 700;
    width: 300px;
    height: 60px;
}

.logo .img {
    float: left;
    width: 50px;
    height: 60px;
    margin: 4px 0 0 35px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.logo img {
    
}

.logo .name {
    float: left;
    padding: 14px 0 0 10px;
    font-size: 28px;
    width: 180px;
}

.navigation {
    float: left;
    width: 500px;
    height: 60px;
}

.navigation nav {
    height: 60px;
}

.navigation ul {
    display: flex;
    width: 500px;
    height: 60px;
    justify-content: end;/*  */
    align-items: center;
    flex-flow: wrap;
}

.navigation li {
    padding: 0 15px;
}

.navigation a {
    text-decoration: none;
    color: #FFF;
}

.navigation a:hover {
    text-decoration: underline;
}


.telefon {
    float: left;
    width: 200px;
    height: 60px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 23px 10px 0 0;
    text-align: right;
}

.inspire {
    width: 1024px;
    height: 75px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-top: 410px;
    padding-top: 11px;
    background-color: #8C8EA9; 
    background-color: rgba(140 142 169 / 80%);
    clear: both;
    color:#FFF;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}


/* ---- CONTENT ----*/
.content {
    width: 1024px;
}

.achievements {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: 220px 220px 220px;
    justify-content: center;
    gap: 115px;
    /* height: 325px; */
}

.achievements .column {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    padding: 75px 0;
}


.achievements .circle {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 122px;
    height: 122px;
    background-color: #353749;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    padding: 11px 0 0 0;
}

.achievements .circle-nested {
    width: 100px;
    height: 100px;
    background-color: #7D7E93;
    border-radius: 50%;
    margin: 0 auto;
    padding: 25px 0;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

.achievements .column p {
    
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.achievements .column span {
    font-weight: 700;
    color: #F26419;
}


/* ---- ADVANTAGES ----*/
.advantages {
    display: grid;
    grid-template-columns: 290px 290px 290px;
    justify-content: center;
    gap: 50px;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    background-color: #FAF7FF;
    padding: 75px 0;
}

.advantages .adv-block {
    text-align: center;
}

.advantages .adv-img {
    border-radius: 79px 17px 128px 17px;
    overflow: hidden;
}

.advantages .adv-img img {
    width: 280px;
}

.advantages .adv-block h2 {
    margin: 15px 0;
}

.advantages .adv-block p {
    margin: 15px 0;
    text-align: justify;
    line-height: 24px;
}


/* ---- CATALOG ----*/
.catalog {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    padding: 75px 0;
    


    /* height: 300px;  */
}

.catalog h1 {
    margin: 0 0 0 50px;
}

.catalog .catalog-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 5px;
    padding: 5px;
    

}

.catalog-flex .cat-item {
    width: 300px;
    min-height: 380px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 25px 20px;
    box-shadow: 0px 0px 7px 1px rgba(192, 201, 206, 0.6);
    -webkit-box-shadow: 0px 0px 7px 1px rgba(192, 201, 206, 0.6);
    -moz-box-shadow: 0px 0px 7px 1px rgba(192, 201, 206, 0.6);

} 

.cat-item h3 {
    padding: 10px;
}

.cat-item p {
    padding: 10px 10px 0 10px;
}


.cat-item .item-imgs {
    width: 280px;
    margin: 5px auto;
    text-align: center;
}

.cat-item .itm-color {

}

.cat-item .itm-size {

}

.cat-item .itm-more {
    width: 225px;
    height: 28px;    
    padding: 8px 0 0 0;
    margin: 20px auto;    
    border: 1px solid #C8C8C8;
    border-radius: 8px;
    background-color: #F2F1F3;
    color: #434874;
    font-size: 20px;
    text-align: center;
}

.cat-item .itm-price {
    font-size: 20px;
    font-weight: 700;
    color: #023047;
    text-align: center;
    padding: 30px 0;
}


.catalog .cat-show-more {
    height: 50px;
    margin: 40px 0 10px;
    text-align: center;
    
}

.cat-show-more .button {
    height: 33px;
    font-weight: 700;
    padding-top: 14px;
}



/* ---- ABOUT ----*/
.about {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    padding: 75px 0;
    background-color: #FAF7FF;



    /*height: 300px;   */

}

.about h1 {
    margin: 0 0 0 50px;
}

/* ---- FOOTER ----*/

footer {
    height: 500px;
    background-color: #2B2D42;
}



.clear {
    clear: both;
}


