

body {
    background: #E3E3E3;
}


/* ---- MAIN ----*/

.main {

    width: 1024px;
    min-height: 1000px;
    margin: 0 auto;
    background: #FFF;

    border-left: 1px solid #353749;
    border-right: 1px solid #353749;

    -webkit-box-shadow: 0px 0px 8px 5px rgba(192, 201, 206, 0.6);
    -moz-box-shadow: 0px 0px 8px 5px rgba(192, 201, 206, 0.6);
    box-shadow: 0px 0px 8px 5px rgba(192, 201, 206, 0.6);

}


/* ---- HEADER ----*/

header {
    width: 1024px;
    height: 580px;
    background-image: url("../images/bg-footer-1024.jpg");
    background-position: 0%;
    background-repeat: no-repeat;
}

.header-top {
    width: 1024px;
    height: 60px;
    background-color: rgba(43 45 66 / 90%);
    /*background-color: #2B2D4200;*/
    border-radius: 0px 0px 15px 15px;
    
}


/* ---- FOOTER ----*/




/*
header {
    width: 1024px;
    height: 50px;
    margin: 0 auto;
    background: #91b78a;
}

.logo {
    float: left;
    width: 200px;
    height: 50px;
    background: #719d68;
}
.navigation {
    float: right;
    width: 250px;
    height: 50px;
    background: #68b35a;
}
.login {
    float: right;
    width: 250px;
    height: 50px;
    background: #3f8932;
}
    */

/* ---- SLIDER-TOP ----*/

/*
.slider-top {
    width: 1024px;
    height: 300px;
    margin: 0 auto;
    background: #c85f5f;
}

.slider-top-col1 {
    float: left;
    width: 510px;
    height: 300px;
}

.slider-top-col2 {
    float: right;
    width: 510px;
    height: 300px;
}

*/


/*
.main {
    width: 1024px;
    min-height: 500px;
    margin: 0 auto;
    background: #FFF;
}



h1 {
    color: black;
    font-size: 2rem;
}

*/

/*

footer {
    width: 1024px;
    margin: 0 auto;
    background: #bec8ea;
}

.footer-col1 {
    float: left;
    box-sizing: border-box;
    width: 340px;
    min-height: 150px;
}

.footer-col2 {
    float: left;
    box-sizing: border-box;
    width: 340px;
    min-height: 150px;
}

.footer-col3 {
    float: left;
    box-sizing: border-box;
    width: 340px;
}

.footer-row-bottom {
    height: 50px;
}
*/

.clear {
    clear: both;
}


