
/*  -- Bitter --  */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
/*  -- Source Serif 4 --  */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');



body {
    background: #E3E3E3;
    font-family: "Bitter", "Source Serif 4", "Cormorant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3 {
    font-weight: 700;
    color: #353749;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}


.button {
    width: 225px;
    height: 28px;    
    padding: 8px 0 0 0;
    margin: 20px auto;    
    border: 1px solid #C8C8C8;
    border-radius: 8px;
    background-color: #F2F1F3;
    color: #434874;
    font-size: 20px;
    text-align: center;
}

/* ---- MAIN PAGE ----*/

.main {

    width: 1024px;
    min-height: 1000px;
    margin: 0 auto;
    background: #FFF;

    border-left: 1px solid #353749;
    border-right: 1px solid #353749;
    box-shadow: 0px 0px 8px 5px rgba(192, 201, 206, 0.6);
    -webkit-box-shadow: 0px 0px 8px 5px rgba(192, 201, 206, 0.6);
    -moz-box-shadow: 0px 0px 8px 5px rgba(192, 201, 206, 0.6);
}


/* ---- HEADER ----*/

header {
    width: 1024px;
    height: 580px;
    background: #AEB4B2;
    background-image: url("../images/bg-footer-1024.jpg");
    background-position: 0%;
    background-repeat: no-repeat;
}

.header-top {
    width: 1024px;
    height: 60px;
    background-color: rgb(43 45 66);
    background-color: rgba(43 45 66 / 90%);
    border-radius: 0px 0px 15px 15px;
    color:#FFF;
    font-size: 16px;
    
}

.logo {
    float: left;
    font-size: 26px;
    font-weight: 700;
    width: 300px;
    height: 60px;
}

.logo .img {
    float: left;
    width: 50px;
    height: 60px;
    margin: 4px 0 0 35px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.logo img {
    
}

.logo .name {
    float: left;
    padding: 14px 0 0 10px;
    font-size: 28px;
    width: 180px;
}

.navigation {
    float: left;
    width: 500px;
    height: 60px;
}

.navigation nav {
    height: 60px;
}

.navigation ul {
    display: flex;
    width: 500px;
    height: 60px;
    justify-content: end;/*  */
    align-items: center;
    flex-flow: wrap;
}

.navigation li {
    padding: 0 15px;
}

.navigation a {
    text-decoration: none;
    color: #FFF;
}

.navigation a:hover {
    text-decoration: underline;
}


.telefon {
    float: left;
    width: 200px;
    height: 60px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 23px 10px 0 0;
    text-align: right;
}

.telefon a {
    text-decoration: none;
    color: #FAF7FF;
}

.telefon a:hover {
    text-decoration: underline;
    color: #FAF7FF;
}

.inspire {
    width: 1024px;
    height: 75px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-top: 410px;
    padding-top: 11px;
    background-color: #8C8EA9; 
    background-color: rgba(140 142 169 / 80%);
    clear: both;
    color:#FFF;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}


/* ---- CONTENT ----*/
.content {
    width: 1024px;
}

.achievements {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: 220px 220px 220px;
    justify-content: center;
    gap: 115px;
    /* height: 325px; */
}

.achievements .column {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    padding: 75px 0;
}


.achievements .circle {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 122px;
    height: 122px;
    background-color: #353749;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    padding: 11px 0 0 0;
}

.achievements .circle-nested {
    width: 100px;
    height: 100px;
    background-color: #7D7E93;
    border-radius: 50%;
    margin: 0 auto;
    padding: 25px 0;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

.achievements .column p {
    
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.achievements .column span {
    font-weight: 700;
    color: #F26419;
}


/* ---- ADVANTAGES ----*/
.advantages {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 50px 10px;
    background-color: #FAF7FF;
}

.advantages h1 {
    margin: 0 0 50px 50px;
}

.advantages .advantages-grid {
    display: grid;
    grid-template-columns: 290px 290px 290px;
    justify-content: center;
    gap: 50px;
}

.advantages-grid .adv-block {
    text-align: center;
}

.advantages-grid .adv-img {
    border-radius: 79px 17px 128px 17px;
    overflow: hidden;
}

.advantages-grid .adv-img img {
    width: 280px;
}

.advantages-grid .adv-block h2 {
    margin: 15px 0;
}

.advantages-grid .adv-block p {
    margin: 15px 0;
    text-align: justify;
    line-height: 24px;
}


/* ---- CATALOG ----*/
.catalog {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 50px 10px;
}

.catalog h1 {
    margin: 0 0 50px 50px;
}

.catalog .catalog-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.catalog-flex .cat-item {
    width: 300px;
    min-height: 380px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 15px 10px;
    box-shadow: 0px 0px 7px 1px rgba(192, 201, 206, 0.6);
    -webkit-box-shadow: 0px 0px 7px 1px rgba(192, 201, 206, 0.6);
    -moz-box-shadow: 0px 0px 7px 1px rgba(192, 201, 206, 0.6);

} 

.cat-item h3 {
    padding: 10px;
}

.cat-item p {
    padding: 10px 10px 0 10px;
}


.cat-item .item-imgs {
    width: 280px;
    margin: 5px auto;
    text-align: center;
}

.cat-item .itm-color {

}

.cat-item .itm-size {

}

.cat-item .itm-more {
    text-align: center;
}

.cat-item .itm-more a.button {
    display: block;
    height: 30px;
    font-weight: 400;
    padding-top: 11px;
    text-decoration: none;
}



.cat-item .itm-price {
    font-size: 20px;
    font-weight: 700;
    color: #023047;
    text-align: center;
    padding: 30px 0;
}


.catalog .cat-show-more {
    height: 50px;
    margin: 40px 0 10px;
    text-align: center;
    
}

.cat-show-more .button {
    
}

.cat-show-more a.button {
    display: block;
    height: 33px;
    font-weight: 700;
    padding-top: 14px;
    text-decoration: none;
}

/* ---- BRANDS ----*/

.brands {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #FAF7FF;
    padding: 50px 10px;
}

.brands h1 {
    margin: 0 0 50px 50px;
}


.brands-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 5px;
}

.brands .brand-itm {
    width: 220px;
    height: 100px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #D9D9D9;
    margin: 10px;
    text-align: center;
    padding: 10px;
}

.brands .brand-itm a, .brands .brand-itm a:hover {
    text-decoration: none;
}

.brands .brand-itm img {
    width: 180px;
    height: 80px;
}


/* ---- CONTACTS ----*/
.contacts {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 50px 10px;
}

.contacts h1 {
    margin: 0 0 50px 50px;
}

.contacts-grid {
    display: grid;
    grid-template-columns: auto 620px;
    justify-content: stretch;
    gap: 10px;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    margin: 25px 0 0 0;
}

.contacts-grid .column1 {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


.contacts-grid .column1 dl {
    font-size: 16px;
    margin: 0 5px;
}

.contacts-grid .column1 dt {
    font-weight: 700;
    margin: 0 0 5px 0;
}

.contacts-grid .column1 dd {
    margin: 0 0 17px 0;
    line-height: 20px;
}

.contacts-grid .column1 dd.socials {
    margin: 0 0 7px 0;
    padding: 10px 0 0;
}

.contacts-grid .column1 dd p {
    
}


.contacts-grid .column1 dd a {
    margin: 0 10px 0 0;
}


.contacts-grid .column2 {
    text-align: center;
}

.contacts-grid .column2 img {
    
}


/* ---- ABOUT ----*/
.about {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #FAF7FF;
    padding: 50px 10px;
    
    min-height: 670px;
    background-image: url("../images/bg-about-500.png");
    background-position: 93% 100%;
    background-repeat: no-repeat;
}

.about h1 {
    margin: 0 0 50px 50px;
}

.about .fragment1 {
    width: 710px;
    margin: 0 10px;  
}

.about .fragment1 p {
    line-height: 24px;
    text-align: justify;
    text-indent: 40px;
}

.abt-service-list {
    width: 100%;
    height: 570px;
    position: relative;
}


.abt-service-list .srv-block {
    width: 200px;
    height: 250px;
    position: absolute;
    box-sizing: border-box;
}

.abt-service-list .srv-block .img {
    border-radius: 20%;
    width: 180px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

.abt-service-list .srv-block .text {
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    padding: 15px 5px;
}



.position1 {
    top: -30px;
    left: 260px;
 }

.position2 {
    top: 95px;
    left: 31px;
    
 }

.position3 {
    top: 23px;
    left: 497px;
    
 }

.position4 {
    top: 278px;
    left: 260px;
 }


/* ---- FOOTER ----*/

footer {
    height: 240px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #2B2D42;
}

.footer-grid {
    display: grid;
    grid-template-areas: 
        "c1 c1 c1 c2 c2 c2 c3 c3 c3 c3 c3 c4"
        "c5 c5 c5 c5 c5 c5 c5 c5 c5 c5 c5 c5";
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 190px 50px;
    color: #FFF;
}

.footer-grid .ftr-company {
    grid-area: c1;
}

.ftr-company  p.name {
    font-size: 32px;
    font-weight: 700;
    padding: 40px 0 15px 20px;
}   

.ftr-company  p.descr {
    
}  

.ftr-company  p {
    padding: 0px 0 5px 20px;
    font-size: 14px;
} 


.footer-grid .ftr-order-call {
    grid-area: c2;
    padding: 40px 0 0;
}


.button-call a.button {
    display: block;
    height: 40px;
    padding-top: 20px;
    margin: 5px 0;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

.footer-grid .ftr-text {
    grid-area: c3;
    text-align: center;
    line-height: 25px;
    padding: 40px 0 0;
}

.footer-grid .ftr-text p {
    padding: 10px 0 0;
}

.footer-grid .ftr-text a {
    font-size: 28px;
    
    text-decoration: none;
    color: #FAF7FF;
}

.footer-grid .ftr-text a:hover {
    text-decoration: underline;
    color: #FAF7FF;
}

.footer-grid .frt-social {
    grid-area: c4;
    padding: 43px 25px 0;
}

.footer-grid .frt-social p {
    margin: 0px 0px 7px;
}

.footer-grid .frt-vertical-row {
    grid-area: c5;
    text-align: center;
    padding: 0 0 20px 0;
}

.clear {
    clear: both;
}



/* ---- BUTTON-MOVE-BACK ----*/
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  font-size: 24px;
  color: #fff;
  background: #000;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}
 
.back-to-top:hover {
  background: #333;
  text-decoration: none;
}








