
/*  -- Bitter --  */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
/*  -- Source Serif 4 --  */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');



body {
    background: #E3E3E3;
    font-family: "Bitter", "Source Serif 4", "Cormorant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    color: #353749;
}

/* ---- MAIN PAGE ----*/

.main {

    width: 1024px;
    min-height: 1000px;
    margin: 0 auto;
    background: #FFF;

    border-left: 1px solid #353749;
    border-right: 1px solid #353749;
    box-shadow: 0px 0px 8px 5px rgba(192, 201, 206, 0.6);
    -webkit-box-shadow: 0px 0px 8px 5px rgba(192, 201, 206, 0.6);
    -moz-box-shadow: 0px 0px 8px 5px rgba(192, 201, 206, 0.6);
}


/* ---- HEADER ----*/

header {
    width: 1024px;
    height: 580px;
    background: #AEB4B2;
    background-image: url("../images/bg-footer-1024.jpg");
    background-position: 0%;
    background-repeat: no-repeat;
}

.header-top {
    width: 1024px;
    height: 60px;
    background-color: rgb(43 45 66);
    background-color: rgba(43 45 66 / 90%);
    border-radius: 0px 0px 15px 15px;
    color:#FFF;
    font-size: 16px;
    
}

.logo {
    float: left;
    font-size: 26px;
    font-weight: 700;
    width: 300px;
    height: 60px;
}

.logo .img {
    float: left;
    width: 50px;
    height: 60px;
    margin: 4px 0 0 35px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.logo img {
    
}

.logo .name {
    float: left;
    padding: 14px 0 0 10px;
    font-size: 28px;
    width: 180px;
}

.navigation {
    float: left;
    width: 500px;
    height: 60px;
}

.navigation nav {
    height: 60px;
}

.navigation ul {
    display: flex;
    width: 500px;
    height: 60px;
    justify-content: end;/*  */
    align-items: center;
    flex-flow: wrap;
}

.navigation li {
    padding: 0 15px;
}

.navigation a {
    text-decoration: none;
    color: #FFF;
}

.navigation a:hover {
    text-decoration: underline;
}


.telefon {
    float: left;
    width: 200px;
    height: 60px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 23px 10px 0 0;
    text-align: right;
}

.inspire {
    width: 1024px;
    height: 75px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-top: 410px;
    padding-top: 11px;
    background-color: #8C8EA9; 
    background-color: rgba(140 142 169 / 80%);
    clear: both;
    color:#FFF;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}


/* ---- CONTENT ----*/
.content {
    width: 1024px;
}

.achievements {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: 220px 220px 220px;
    justify-content: center;
    gap: 80px;
    /* height: 325px; */
}

.achievements .column {
    box-sizing: content-box;
    padding: 75px 0;
}


.achievements .circle {
    box-sizing: border-box;
    width: 122px;
    height: 122px;
    background-color: #353749;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    padding: 11px 0 0 0;
}

.achievements .circle-nested {
    width: 100px;
    height: 100px;
    background-color: #7D7E93;
    border-radius: 50%;
    margin: 0 auto;
    padding: 25px 0;
    text-align: center;
    box-sizing: border-box;

}

.achievements .column p {
    
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.achievements .column span {
    font-weight: 700;
    color: #F26419;
}


/* ---- ADVANTAGES ----*/
.advantages {
    display: grid;
    grid-template-columns: 290px 290px 290px;
    justify-content: center;
    gap: 60px;
    box-sizing: content-box;
    background-color: #FAF7FF;
    padding: 75px 0;
}

.advantages .adv-block {
    text-align: center;
}

.advantages .adv-img {
    border-radius: 79px 17px 128px 17px;
    overflow: hidden;
}

.advantages .adv-img img {
    width: 280px;
}

.advantages .adv-block h2 {
    margin: 15px 0;
}

.advantages .adv-block p {
    margin: 15px 0;
    text-align: justify;
    line-height: 24px;
}


/* ---- CATALOG ----*/
.catalog {
    box-sizing: content-box;
    


    height: 300px;/*   */
}



/* ---- ABOUT ----*/
.about {
    box-sizing: content-box;
    background-color: #FAF7FF;



    height: 300px;/*   */

}

/* ---- FOOTER ----*/

footer {
    height: 500px;
    background-color: #2B2D42;
}



/*
header {
    width: 1024px;
    height: 50px;
    margin: 0 auto;
    background: #91b78a;
}

.logo {
    float: left;
    width: 200px;
    height: 50px;
    background: #719d68;
}
.navigation {
    float: right;
    width: 250px;
    height: 50px;
    background: #68b35a;
}
.login {
    float: right;
    width: 250px;
    height: 50px;
    background: #3f8932;
}
    */

/* ---- SLIDER-TOP ----*/

/*
.slider-top {
    width: 1024px;
    height: 300px;
    margin: 0 auto;
    background: #c85f5f;
}

.slider-top-col1 {
    float: left;
    width: 510px;
    height: 300px;
}

.slider-top-col2 {
    float: right;
    width: 510px;
    height: 300px;
}

*/


/*
.main {
    width: 1024px;
    min-height: 500px;
    margin: 0 auto;
    background: #FFF;
}



h1 {
    color: black;
    font-size: 2rem;
}

*/

/*

footer {
    width: 1024px;
    margin: 0 auto;
    background: #bec8ea;
}

.footer-col1 {
    float: left;
    box-sizing: border-box;
    width: 340px;
    min-height: 150px;
}

.footer-col2 {
    float: left;
    box-sizing: border-box;
    width: 340px;
    min-height: 150px;
}

.footer-col3 {
    float: left;
    box-sizing: border-box;
    width: 340px;
}

.footer-row-bottom {
    height: 50px;
}
*/

.clear {
    clear: both;
}


