
/*  -- Bitter --  */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
/*  -- Source Serif 4 --  */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');



body {
    background: #E3E3E3;
    font-family: "Bitter", "Source Serif 4", "Cormorant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* ---- MAIN PAGE ----*/

.main {

    width: 1024px;
    min-height: 1000px;
    margin: 0 auto;
    background: #FFF;

    border-left: 1px solid #353749;
    border-right: 1px solid #353749;

    -webkit-box-shadow: 0px 0px 8px 5px rgba(192, 201, 206, 0.6);
    -moz-box-shadow: 0px 0px 8px 5px rgba(192, 201, 206, 0.6);
    box-shadow: 0px 0px 8px 5px rgba(192, 201, 206, 0.6);

}


/* ---- HEADER ----*/

header {
    width: 1024px;
    height: 580px;
    background: #AEB4B2;
    background-image: url("../images/bg-footer-1024.jpg");
    background-position: 0%;
    background-repeat: no-repeat;
}

.header-top {
    width: 1024px;
    height: 60px;
    background-color: rgb(43 45 66);
    background-color: rgba(43 45 66 / 90%);
    border-radius: 0px 0px 15px 15px;
    color:#FFF;
    font-size: 16px;
    
}

.logo {
    float: left;
    font-size: 26px;
    font-weight: 700;
    width: 250px;
    height: 60px;
}

.nav {
    float: left;
    width: 550px;
    height: 60px;

}

.telefon {
    float: left;
    width: 200px;
    height: 60px;
}

.inspire {
    width: 1024px;
    height: 75px;
    box-sizing: border-box;
    margin-top: 410px;
    padding-top: 11px;
    background-color: #8C8EA9; 
    background-color: rgba(140 142 169 / 80%);
    clear: both;
    color:#FFF;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}


/* ---- CONTENT ----*/
.content {

}

/* ---- FOOTER ----*/

footer {

}



/*
header {
    width: 1024px;
    height: 50px;
    margin: 0 auto;
    background: #91b78a;
}

.logo {
    float: left;
    width: 200px;
    height: 50px;
    background: #719d68;
}
.navigation {
    float: right;
    width: 250px;
    height: 50px;
    background: #68b35a;
}
.login {
    float: right;
    width: 250px;
    height: 50px;
    background: #3f8932;
}
    */

/* ---- SLIDER-TOP ----*/

/*
.slider-top {
    width: 1024px;
    height: 300px;
    margin: 0 auto;
    background: #c85f5f;
}

.slider-top-col1 {
    float: left;
    width: 510px;
    height: 300px;
}

.slider-top-col2 {
    float: right;
    width: 510px;
    height: 300px;
}

*/


/*
.main {
    width: 1024px;
    min-height: 500px;
    margin: 0 auto;
    background: #FFF;
}



h1 {
    color: black;
    font-size: 2rem;
}

*/

/*

footer {
    width: 1024px;
    margin: 0 auto;
    background: #bec8ea;
}

.footer-col1 {
    float: left;
    box-sizing: border-box;
    width: 340px;
    min-height: 150px;
}

.footer-col2 {
    float: left;
    box-sizing: border-box;
    width: 340px;
    min-height: 150px;
}

.footer-col3 {
    float: left;
    box-sizing: border-box;
    width: 340px;
}

.footer-row-bottom {
    height: 50px;
}
*/

.clear {
    clear: both;
}


